:root{
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Poppins';
}

.container{
    height: 100dvh;
    background-image: linear-gradient(to top, #01021b, #3651fa);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
}

.container img{
    height: 20rem;
    opacity: 75%;
    
}

.container .text{
    position: relative;
    top: 4rem;
    z-index: 1;
    
}
.container .text h2{
    color: white;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 600;
}

.btn{
    position: relative;
    top: 5rem;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

button{
    background-color: white;
    border-radius: 20px;
    width: 20rem;
    height: 2.6rem;
    font-weight: 450;
    font-family: 'Poppins';
    border: none;
    padding: 0.35rem 0;
    margin: 0.3rem 0;
    cursor: pointer;
}
button:active{
    opacity: 75%;
}

#Facebook, #Google, #Phone{
    background-color: transparent;
    border: 1px solid rgb(12, 73, 114);
    color: white;
    font-size: 0.8rem;
    font-weight: 400;
}

